body {


    font-family:"Spirax", sans-serif;
    color: red;
    font-size: 3rem;
}
main {
    position: relative;
    margin:0 auto;
}

main.hot {
    background-image: url('hot.jpg');
    background-position: center;
    background-size: cover;
}

main.juicy {
    background-image: url('juicy.jpg');
    background-position: center;
    background-size: cover;
}
main.cosy {
    background-image: url('cosy.jpg');
    background-position: center;
    background-size: cover;
}
.content {
    display:flex;
    flex-direction: column;
    padding:15rem;

    
}
.Box1 {
    
    align-self: flex-start;
padding: 0 3rem;
    background-color: red;
    color:white;
    font-size: 1rem;
}
.Box2 {
    
align-self: flex-end;
padding: 0 3rem;
    
    background-color: red;
    color: white;
    font-size:1rem;

}
.Box3 {
    display:flex;
    flex-direction: column;
    width:80%;
    align-self: center;
    margin: 0 auto;
padding:1rem;
    font-size:12px;
    background-color: black;
}
.price {
    display: flex;
    justify-content: space-between;
}